@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

* {
    margin:0;
}

body {
    background-color: #000;
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 40px;    
}

/* Blocks Background Colors */

.one {
    background-color: #981;
}

.two {
    background-color: #989;
}

.three {
    background-color: #819;
}

.four {
    background-color: #676;
}

.five {
    background-color: #579;
}

.six {
    background-color: #559;
}


/* Grid Start */

.wrapper {
    display:grid;
    grid-gap:5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(2, 50px);
    align-items: center;
    text-align: center;
}
